body{
    margin:0;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 35px;
    height: 35px;
    border: 2px solid #000;
    animation:loading 2s ease infinite;
    animation-direction: alternate;
}
.box{
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid #000;
}